[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
mypy = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
djangorestframework-simplejwt = "*"
django-shortuuidfield = "*"
django-cors-headers = "*"
numpy = "*"
dj-database-url = "*"
django-environ = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
